.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: var(--ifm-color-primary);
  z-index: 2000; /* Ensure it's above everything else */
  transition: width 0.1s ease-out;
}
